header a {
  color: orange;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(81, 88, 81); /* Green background */
}

main {
  color: orange;
  background-color: rgb(112, 110, 110);
  height: 700px;
}

header div {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 20px;
  padding: 10px;
}

#logo {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 20px;
  padding: 10px;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
}

section ul {
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

li img {
  width: 300px;
  height: 100%;
  object-fit: cover;
}

li a {
  color: white;
  background-color: rgb(243, 172, 50);
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  margin-bottom: 5px;
}

li a:hover {
  background-color: rgb(247, 145, 3);
}

h2 {
  color: black;
}

.meal-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(249, 226, 186);
}
