header a {
  color: orange;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(81, 88, 81); /* Green background */
}

main {
  color: orange;
  background-color: rgb(112, 110, 110);
}

#logo {
  font-size: 50px;
}

header div {
  display: flex;
}

section ul {
  display: flex;
}

main img {
  width: 300px;
  height: 100%;
  object-fit: cover;
}

h2 {
  color: black;
}
